<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Burger Page</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../public/assets/js/script.js"></script>

</head>

<body>
    {{{ body }}}
</body>

</html>